@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&family=Plus+Jakarta+Sans:wght@400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Cabin', sans-serif;
  font-family: 'Plus Jakarta Sans', sans-serif;
}


body {
  position: relative;
  margin: 0;
  padding: 0;
}

#root {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

aside {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 16px;
  box-shadow: 2px 2px 2px rgba(0,0,0, 0.5);
  padding: 1.1em;
  margin: 0 1.1em;
  /* max-width: 25%; */
  min-height: 100vh;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

.dashboard-item {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 1.1em;
  padding: 1.1em;
  margin-inline: 1.1em;
  margin-bottom: 5px;
  gap: 16px;
}

.dashboard-item::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: red;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transition: transform 250ms ease-in;
}

.dashboard-item:hover::after {
  transform: scaleX(1);
}

main {
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}

.dialog-trigger {
  margin: 1.1em;
  padding: 1.1em;
}

.dialog-overlay {
  position: fixed;
  background-color: rgba(0,0,0, 0.5);
  inset: 0;
  width: 100vw;
  height: 100vh;
}

.dialog-content {
  position: absolute;
  margin-left: 5px;
  top: 10%;
  left: 50%;
  width: 100%;
  padding: 2.5em;
  border-radius: 2em;
  translate: -50%;
  background-color: #fafafa;
}

form {
  display: flex;
  flex-direction: column;
}

.card {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  width: 90%;
  padding: 1.5em;
  margin: 1.1em 0;
  box-shadow: 2px 2px 2px rgba(0,0,0, 0.5);
}


.link {
  text-decoration: none;
  height: 100%;
  width: 90%;
  margin: 0;
  padding: 0;
  color: #252525;
}

.not-found h2 {
  color: darkblue;
}

.not-found a {
  text-decoration: none;
}

@media (max-width: 600px) {
  #root{
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  main{
    flex-direction: column;
  }

  aside {
    /* width: 100vw; */
    /* height: 150px; */
    min-height: 0;
    padding: 0;
    margin: 0;
    font-size: 12px;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
  }
}