*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
  position: relative;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
}

aside {
  display: flex;
  flex-direction: column;
  width: 25%;
  min-height: 100vh;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

.dialog-trigger {
  margin: 1.1em;
  padding: 1.1em;
}

.dialog-overlay {
  position: fixed;
  background-color: rgba(0,0,0, 0.5);
  inset: 0;
  width: 100vw;
  height: 100vh;
}

.dialog-content {
  position: absolute;
  margin-left: 5px;
  top: 10%;
  left: 50%;
  width: 100%;
  padding: 2.5em;
  border-radius: 2em;
  translate: -50%;
  background-color: #fafafa;
}

form {
  display: flex;
  flex-direction: column;
}

.card {
  font-size: 16px;
  padding: 1.5em;
  margin: 1.1em;
}