@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&family=Plus+Jakarta+Sans:wght@400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Cabin', sans-serif;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

:root {
  --bg-color: #0B0B0C;
  --text-color: #ebf1f1;
  --accent-color: #201d8d;
  --bg-blur: #6c68ff90;
  --text-delete: #da3633;
  --delete-hover: #ebf1f1;
  --bg-delete: #da3633;
  --shadow-delete: #ff000050;
  --input-bg: #6c68ff75;
  --shadow-color: rgba(37, 32, 222, 0.75);
}

*:has(.light-mode) {
  --bg-color: #ebf1f1;
  --text-color: #6c68ff;
}

html {
  overflow-x: hidden;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  position: relative;
  margin: 0;
  padding: 0;
}

#root {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

aside {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  outline: 2px solid var(--shadow-color);
  font-size: 16px;
  box-shadow: 1px 0px 3px var(--shadow-color);
  padding: 1.1em;
  margin: 0 1.2em 0 0;
  /* max-width: 25%; */
  min-height: 100vh;
}

.toggle {
  width: 4em;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

.dashboard-item {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 1.1em;
  padding: 1.1em;
  margin-inline: 1.1em;
  margin-bottom: 5px;
  gap: 16px;
}

.dashboard-item::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--accent-color);
  filter: drop-shadow(5px 0 5px var(--shadow-color));
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transition: transform 250ms ease-in;
}

.dashboard-item:hover::after {
  transform: scaleX(1);
}


#focus::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--accent-color);
  filter: drop-shadow(5px 0 5px var(--shadow-color));
  bottom: 0;
  left: 0;
  transition: all 250ms ease-in;
}


main {
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 1.5em;
}

button {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  gap: 5px;
  border-radius: 1.2em;
  border: 1px solid var(--accent-color);
  filter: drop-shadow(2px 2px 2px var(--shadow-color));
  background-color: var(--bg-color);
  color: var(--text-color);
  font-weight: 700;
  cursor: pointer;
  margin: 1.5em 1.1em;
  padding: 1.1em;
  transition: all 250ms;
}

button:hover {
  filter: drop-shadow(3px 3px 5px var(--shadow-color));
  background-color: var(--accent-color);

}

button:disabled {
  opacity: .5;
  pointer-events: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}


.dialog-overlay {
  position: fixed;
  background-color: var(--bg-blur);
  inset: 0;
  width: 100vw;
  height: 100vh;
}

.dialog-description {
  font-size: 22px;
  font-weight: 700;
  padding: 1.2em;
}

.dialog-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  height: 90%;
  width: 60%;
  padding: 1.2em;
  border-radius: 2em;
  transform: translate(-50%, -50%);
  background-color: var(--bg-color);
}

.dialog-overlay[data-state='open'],
.dialog-content[data-state='open'] {
  animation: fadeIn 300ms ease-out;
}

.dialog-overlay[data-state='closed'],
.dialog-content[data-state='closed'] {
  animation: fadeOut 300ms ease-out;
}

.alert-buttons {
  display: flex;
  /* margin-top: 5em; */
  justify-content: space-around;
}

.alert-buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5em;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  padding-block: 1.1em;
  /* align-items: center; */
  /* justify-content: space-around; */
}

label {
  align-self: center;
}

input, select, textarea {
  background-color: var(--input-bg);
  color: var(--text-color);
  padding: .4em;
  width: 50%;
  border-radius: .2em;
  border: none;
}

option {
  background-color: var(--accent-color);
}

input::placeholder {
  --text-color: #a6b4fc;
  color: var(--text-color);
}

input[type="submit"] {
  margin-top: 1.1em;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.card {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  color: var(--text-color);
  font-size: 16px;
  width: 90%;
  padding: 1.5em;
  margin: 1.5em  0;
  border: 2px solid var(--accent-color);
  border-radius: 1em;
  box-shadow: 2px 2px 2px var(--shadow-color);
  transition: all 250ms ease-in;
}

.card:hover {
  box-shadow: 4px 2px 5px var(--shadow-color);
  background-color: var(--accent-color);
}

.card button:hover {
  background-color: var(--input-bg);
  transition: all 250ms ease-in;
}


.detalhes {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  padding-right: 2em;
}

.deslocamento {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.deslocamento-btn {
  display: flex;
  align-items: center;
  gap: 2em;
}

.encerrado {
  opacity: .5;
}

.manage {
  display: flex;
}


#delete-btn {
  color: var(--text-delete);
  font-weight: 700;
  box-shadow: 2px 2px 2px var(--shadow-delete);
  border: 1px solid var(--bg-delete);
  transition: all 250ms ease-in;
}

#delete-btn:hover {
  /* filter: opacity(.75); */
  background-color: var(--bg-delete);
  color: var(--delete-hover);
}

#delete-btn::after {
  display: none;
}

p {
  margin-right: 1.2em;
}

.link {
  text-decoration: none;
  height: 100%;
  width: 90%;
  margin: 0;
  padding: 0;
  color: #252525;
}

.delete {
  cursor: pointer;
}

.not-found h2 {
  color: var(--accent-color);
}

.not-found a {
  text-decoration: none;
}

@media (max-width: 600px) {
  #root{
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  main{
    flex-direction: column;
  }

  aside {
    width: 100vw;
    /* height: 150px; */
    min-height: 0;
    padding: 0;
    margin: 0;
    font-size: 12px;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    font-size: 12px;
  }
  
  .dialog-content {
    width: 80%;
    height: 90%;
  }

  input, select {
    width: 100%;
  }
  
}